#Community.container-fluid.py-5
  .row
    .col-11.offset-1.mx-auto
      h1.text-center.text-inverse-secondary Community
  .row.py-4
    .col-11.offset-sm-1.mx-sm-auto
      .row.mr-4
        .col-3.offset-2.wow.zoomIn
          .row
            .col-lg-6.offset-lg-4.col-4
              a.btn.btn-social-icon.btn-twitter.socialMediaIcon(href='#')
                .icon.social.tw
                  i.fab.fa-twitter
        .col-3.wow.zoomIn
          .row
            .offset-lg-2.col-4
              a.btn.btn-social-icon.btn-twitter.socialMediaIcon(href='#')
                .icon.social.fb
                  i.fab.fa-facebook-f
        .col-3.wow.zoomIn
          .row
            .col-4
              a.btn.btn-social-icon.btn-twitter.socialMediaIcon(href='#')
                .icon.social.discord
                  i.fab.fa-discord
        //twiter facebook  discord