#Resources.container-fluid.backgroundBlue.py-5.text-inverse-primary
  .row.mb-3
    .col-11.offset-1.mx-auto
      h1.text-center Resources
  .row
    .col-11.offset-1.mx-auto
      h1.text-center Coming Soon!
    