#Resources.container-fluid.backgroundBlue.py-5.text-inverse-primary
  .row.mb-3
    .col-11.offset-1.mx-auto
      h1.text-center Resources
  .row
    .col-11.offset-1.mx-auto
      a(target="_blank" href="https://calculator.crypto-block-pay.com")
        h1.text-center Masternode ROI Calculator
  .row
    .col-11.offset-1.mx-auto
      a(target="_blank" href="https://explorer.crypto-block-pay.com")
        h1.text-center Block Explorer