#Specs.container-fluid.backgroundBlue.py-5
  .row.mb-3
    .col-11.offset-1.mx-auto
      h1.text-center.wow.slideInRight.text-inverse-primary Specifications
  .row.justify-content-md-center.mx-3
    .col-11.offset-1.mx-auto.card.wow.fadeIn
      .row.mt-2.mx-md-2
        .col-md-4.col-11.my-auto.py-5.card.offset-1.mx-auto
          ul.list-group.list-group-flush.text-center
            li.list-group-item
              strong Algorithm:
              |  Quark
            li.list-group-item
              strong Premine:
              |  1,000,000 CBP
            li.list-group-item
              strong Masternode Collateral:
              |  10,000 CBP
            li.list-group-item
              strong Block Time:
              |  120 Seconds
            li.list-group-item
              strong Maturity:
              |  15 Blocks
            li.list-group-item
              strong Difficulty Retargeting:
              |  Every Block
        .col-md-8.col-12
          .row
            .col-11.offset-1.mx-auto.my-2.card.p-3.py-5
              h2.mt-2.text-center
                strong Phase 1
              h5.text-center
                strong 6 Masternodes will be used from Premine to bootstrap and stabilize the network.
          .row
            .col-11.offset-1.mx-auto.mb-2.card.p-3.py-5
              h2.text-center
                strong Phase 2
              h5.text-center
                strong PoS Phase(Coin launches at block 2500)
              h6.text-center
                strong Block Rewards,(Please refer to table)
              p.text-center 
                strong 2501 - Infinity
            
  .row.mx-3.mt-lg-4.mt-2
    .col-11.offset-1.mx-auto.card.wow.fadeIn.p-2
      .row
        .col-11.offset-1.mx-auto
          h5.pt-3.mt-3.text-center
            strong PoS Reward Breakdown
          h5.text-center.py-2
            strong Proof of Stake will automatically be enabled at block 2500.
      .row
        .col-11.offset-1.mx-auto.card
          table.table.table-striped.table-compact.table-responsive-sm.table-sm.mx-1
            thead
              tr
                th(scope="col") Block Height
                th(scope="col") Reward
                th(scope="col") Masternodes
                th(scope="col") POS Stakers
            tbody
              tr
                th(scope="row") 2500-25000
                td 40 CBP
                td 70% (28 CBP)
                td 30% (12 CBP)
              tr
                th(scope="row") 25000-120000
                td 60 CBP
                td 70% (42 CBP)
                td 30% (18 CBP)
              tr
                th(scope="row") 120000-200000
                td 80 CBP
                td 70% (56 CBP)
                td 30% (24 CBP)
              tr
                th(scope="row") 200000-300000 
                td 125 CBP
                td 70% (87.5 CBP)
                td 30% (37.5 CBP)
              tr
                th(scope="row") 300000-375000
                td 150 CBP
                td 70% (105 CBP)
                td 30% (45 CBP)
              tr
                th(scope="row") 375000-425000
                td 100 CBP
                td 70% (70 CBP)
                td 30% (30 CBP)
              tr
                th(scope="row") 425000-500000
                td 75 CBP
                td 70% (52.5 CBP)
                td 30% (22.5 CBP)
              tr
                th(scope="row") 500000-550000
                td 50 CBP
                td 70% (35 CBP)
                td 30% (15 CBP)
              tr
                th(scope="row") 550000-625000
                td 30 CBP
                td 70% (21 CBP)
                td 30% (9 CBP)
              tr
                th(scope="row") 625000-Infinity
                td 25 CBP
                td 70% (17.5 CBP)
                td 30% (7.5 CBP)
  .row.mx-3.mt-lg-4.mt-2
    .col-11.offset-1.mx-auto.card.wow.fadeIn.p-2
      .row
        .col-11.offset-1.mx-auto
          h5.pt-3.mt-3.text-center
            strong Coin Staking Packages
      .row
        .col-11.offset-1.mx-auto.card
          table.table.table-striped.table-compact.table-responsive-sm.table-sm.mx-1
            thead
              tr
                th(scope="col") Package
                th(scope="col") Amount of Coins
                th(scope="col") Price
            tbody
              tr
                th(scope="row") Masternode(Presale)
                td 10,000 CBP
                td 0.4 BTC
              tr
                th(scope="row") Staking(Level 5)
                td 500 CBP
                td 0.03 BTC
              tr
                th(scope="row") Staking(Level 4)
                td 1,000 CBP
                td 0.06 BTC
              tr
                th(scope="row") Staking(Level 3)
                td 2,000 CBP
                td 0.12 BTC
              tr
                th(scope="row") Staking(Level 2)
                td 2,500 CBP
                td 0.15 BTC
              tr
                th(scope="row") Staking(Level 1)
                td 5,000 CBP
                td 0.3 BTC
              tr
                th(scope="row") Masternode(After Presale)
                td 10,000 CBP
                td 0.6 BTC