section#timeline.timeline
  ul
    li
      div
        font(color='white')
          h3 Q3 2018
          |         ☻ 
          
          | Development & testing wallets and blockchain. 
          p
            | ☻ 
            | Launch of marketing campaign. Masternode Pre-Sale.
    li
      div
        font(color='white')
          h3 Q4 2018
          p
            | ☻ 
            
            | Wallet release date {{ PUT DATE HERE }} 
          p
            | ☻ 
            | Exchange Listings
          p
            | ☻ 
            | Masternode's Pro listing.
          p
            | ☻ 
            | {{ SOME OTHER IDEA HERE }}
          p ☻ BiteBTC exchange listing?!?!
          p ☻ CryptoBridge exchange listing.!?!?!?!
          p ☻ MARRRRRRRRRRKETING
          p ☻ Launch of signature campaign on Bitcointalk.org. BITCOIN ANN
    li
      div
        font(color='white')
          h3 Q1 2019
          p ☻ Atomic Swaps implementation.
          p ☻ Decentralized Exchange project ICO token-sale launch.
    li
      div
        font(color='white')
          h3 Q2 2019
          p ☻ Listing on coinmarketcap.com.
          p ☻ Launch of Decentralized Marketplace.
          p ☻ Smart contracts implementation.
    li
      div
        font(color='white')
          h3 Q3 2019
          |        MORE COMING SOON!
    br