section#Timeline.timeline
  ul
    li
      div
        font(color='white')
          h3 Q3 2018
          |         ☻ 
          
          | Development & testing wallets and blockchain. 
          p
            | ☻ 
            | Launch of marketing campaign. 
          p ☻ Masternode Pre-Sale.
          p ☻ Wallet Release, 25th August 2018 
    li
      div
        font(color='white')
          h3 Q4 2018
          p
            | ☻ 
            | Exchange Listings
          p
            | ☻ 
            | Masternode's Pro listing.
          p
            | ☻ 
            | CryptoBridge exchange listing.
          p ☻ Marketing, Air drops.
          p ☻ Launch of Decentralized Marketplace.
          p ☻ Launch of signature campaign on Bitcointalk.org. BITCOIN ANN
    li
      div
        font(color='white')
          h3 Q1 2019
          p ☻ Listing on coinmarketcap.com.
          p ☻ Cryptopia exchange listing.
          p ☻ MasterNodes.online listing.
          p ☻ Round 2 of Marketing campaign
          p ☻ Launch of Decentralized  Classified Adverts site.
    li
      div
        font(color='white')
          h3 Q2 2019
          p ☻ Smart contracts implementation.
    li
      div
        font(color='white')
          h3 Q3 2019
          |        MORE COMING SOON!
    br