section#timeline.timeline
  ul
    li
      div
        font(color='white')
          h3 Q1 2018
          |         ☻ 
          s
            | Development & testing wallets and blockchain. Launch of marketing campaign. Masternode Pre-Sale.
    li
      div
        font(color='white')
          h3 Q2 2018
          p
            | ☻ 
            s
              | Wallet release date March 30th with exchange listing and masternodes.pro listing in place.
          p
            | ☻ 
            s Coin swap finishes 27th of April. 
          p
            | ☻ 
            s Crex24 exchange listing.
          p
            | ☻ 
            s Create new masternodes statistics website - Masternodes.Directory (MND).
          p ☻ BiteBTC exchange listing.
          p ☻ CryptoBridge exchange listing.
          p ☻ Community growth campaign (Airdrops, Bounties & Giveaways). 
          p ☻ Launch of signature campaign on Bitcointalk.org.
    li
      div
        font(color='white')
          h3 Q3 2018
          p ☻ Atomic Swaps implementation.
          p ☻ Decentralized Exchange project ICO token-sale launch.
    li
      div
        font(color='white')
          h3 Q4 2018
          p ☻ Listing on coinmarketcap.com.
          p ☻ Launch of Decentralized Marketplace.
          p ☻ Smart contracts implementation.
    li
      div
        font(color='white')
          h3 2019
          |         COMING SOON!
    br