section.hero-section-2
  .container-fluid.mt-5.pt-5.px-0
    .row
      .col-11.offset-1.mx-auto
        #particles-js
        img.img-fluid.text-center.d-block.d-lg-none.mx-auto(src="../assets/images/logoText.png" alt="Logo" width="400px" height="400px")
        img.image.img-fluid.text-center.d-block.mx-auto.my-3(src="../assets/images/logo.png" alt="Logo" width="400px" height="400px")
        h1.text-center.headlines-wrapper
          #typedContent.d-inline
        h2.text-center.first-headline Welcome to Crypto Block Pay
        h2.text-center.second-headline Some Slogan to put here