section#Page-top.hero-section-2
  #particles-js
  .headlines-wrapper
    img.img-fluid.text-center.d-block.d-lg-none.mx-auto(src="../assets/images/logoText.png" alt="Logo" width="400px" height="400px")
    img.image.img-fluid.text-center.d-block.mx-auto.my-3(src="../assets/images/logo.png" alt="Logo" width="400px" height="400px")
    h1.text-center
      #typedContent.d-inline
    h2.text-center.first-headline Welcome to Crypto-Block-Pay The World Market
    h2.text-center.second-headline Place Payment Gateway