section#Downloads.p3
  .container-fluid
    .row
      .col-11.offset-1.mx-auto
        h1.text-center.wow.fadeInLeft.animated Downloads
      // /.see-work
    .row
      .col-11.offset-1.mx-auto
        .row
          .col-3
            a(href='#')
              .client
                span.logo
                
                h2 Windows Wallet
                h3 v????
                h3 Download
          .col-3
            a(href='#')
              .client
                span.logo
               
                h2 Linux Wallet
                h3 v1.3.1
                h3 Download
          .col-3
            a(href='#')
              .client
                span.logo
                  //Linus icon here
                h2 Mac Wallet
                h3 v1.3.1
                h3 Download
          .col-3
            a(href='https://github.com/poseidondev/posq')
              .client
                span.logo
                 
                h2 Github
                h3 Source Code
                