.downloadCard{
  min-width: 100%;
  background-color: #fff;
  text-align: center;
  float: left;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 1px;
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  transition: all 0.1s;
  border-right: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
  cursor: pointer;
  
  @media(max-width: $sm){
    min-height: 60%;
  }
}
.downloadCard:hover {
  -ms-transform: scale(1.1,1.1);
  -webkit-transform: scale(1.1,1.1);
  transform: scale(1.1,1.1);
  -webkit-box-shadow: 10px 10px 91px 0px rgba(193,79,82,1);
  -moz-box-shadow: 10px 10px 91px 0px rgba(193,79,82,1);
  box-shadow: 10px 10px 91px 0px rgba(193,79,82,1);
  z-index: 9999;
  border-right: 1px solid transparent;
  border-bottom: 1px solid transparent;
  cursor: pointer;
  background-color: #fff;
}
.downloadCard:hover .logo {
  background: rgba(244,103,110,1);
  background: -moz-linear-gradient(top, rgba(244,103,110,1) 0%, rgba(77,64,111,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(244,103,110,1)), color-stop(100%, rgba(77,64,111,1)));
  background: -webkit-linear-gradient(top, rgba(244,103,110,1) 0%, rgba(77,64,111,1) 100%);
  background: -o-linear-gradient(top, rgba(244,103,110,1) 0%, rgba(77,64,111,1) 100%);
  background: -ms-linear-gradient(top, rgba(244,103,110,1) 0%, rgba(77,64,111,1) 100%);
  background: linear-gradient(to bottom, rgba(244,103,110,1) 0%, rgba(77,64,111,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4676e', endColorstr='#4d406f', GradientType=0 );
  border: 5px solid #eee;
}
.logo {
  position:relative;
  display: block;
  width: 75px;
  height: 75px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 5px solid #eee;
  margin-bottom: 30px;
  background-color: #eee;
  margin: 35px auto;
  
  i{
    position:absolute;
    top:9%;
    left:12%;
    color: #FFF;
    font-size: 3.7em;
  }
}