.hero-section-2 {
  height: 800px;
  width: 100%;
  text-align: center;
  margin-top: -100px;
  background: url("../images/hero-dark.jpeg");
  position: relative;
  background-size: cover;
  @media(min-height:$md){
    height: 120vh;
  }
}

.hero-section-2 .headlines-wrapper {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 200px;
}