.backgroundBlue{
  background-color: $specs-background-color;
  color: $primary-text;
}
.card{
  color: $primary-text;
  background-color: $cards-background-color;
  ul{
    li{
      background-color: $cards-background-color;
    }
  }
}

.table-compact{
  @media(max-width:$xs){
    font-size: 0.7em;
  }
  @media(max-width:$xxs){
    font-size: 0.55em;
  }
}

.text-inverse-primary{
  color: $inverse-primary-text;
}
.text-inverse-secondary{
  color: $inverse-secondary-text;
}
.text-link-inverse-secondary {
  a {
    color: $inverse-secondary-text;
  }
}