

/*
Media Query values, same as bootstrap.
 */
$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;
$xs: 482px;
$xxs: 350px;

/*
Colour pallete goes here
 */


$primary-text: rgba(15,30,50, 1);
$secondary-text:rgba(15,30,50, 0.77);
$disabled-text: rgba(15,30,50, 0.55);

$input-primary-text: rgba(15,30,50, 0.88);
$input-secondary-text: rgba(15,30,50, 0.67);


$inverse-primary-text: rgba(244,244,244, 1);
$inverse-secondary-text: rgba(244,244,244, 0.77);


$navbar-color: #aaa;

$background-colour: #f6f4f5;
$background-colour-2: #7da1b1;
$primary-colour: #006beb;
$accent-colour: #ca0404;

$secondary-colour: #00b349;

//$timeLine-background-Colour: #144182;
$timeLine-background-Colour: #001a1c;

$inverse-background-color: $timeLine-background-Colour;

//$timeline-box-colour: #4776b9;

$timeline-box-colour: #144182;
//rgb(20,65,130)


//128a08
//rgb(18,138,8)

/*
Specifications section
 */

$cards-background-color: #f6f4f5;



/*
Downloads Section
 */
$gradiantStartHex: #144182;
$gradiantStartRGBA: rgba(20,65,130,1);

$gradiantEndHex: #128a08;
$gradiantEndRGBA: rgba(18,138,8,1);

$gradiantShadowBoxColor: rgba(30,98,196,1);




