@import 'variables';

body{
  background-color: $background-colour;
  .noOverFlow{
    overflow-x: hidden;
  }
}
.thick{
  border-top: 5px solid rgba(0, 0, 0, 0.1);
}

@import "logo";

@import "mainNav";

@import 'heroimg';

@import 'timeline';





@import "utilityClasses";

