nav#main-nav.stroke
  ul
    li
      a.page-scroll.hvr-underline-from-center(href="#page-top") Home
    li
      a.page-scroll.hvr-underline-from-center(href="https://posq.space/faucet") Faucet
    li
      a.page-scroll.hvr-underline-from-center(href="http://posq.space:8080") Explorer
    li
      a.page-scroll.hvr-underline-from-center(href="#timeline") Roadmap
    li
      a.page-scroll.hvr-underline-from-center(href="#features") Features
    li
      a.page-scroll.hvr-underline-from-center(href="#downloads") Downloads
    li
      a.page-scroll.hvr-underline-from-center(href="#resources") Resources
    li
      a.page-scroll.hvr-underline-from-center(href="#community") Community
