nav#main-nav.stroke
  ul
    li
      a.page-scroll.hvr-underline-from-center(href="#Page-top") Home
    li
      a.page-scroll.hvr-underline-from-center(href="#Timeline") Roadmap
    li
      a.page-scroll.hvr-underline-from-center(href="#Features") Features
    li
      a.page-scroll.hvr-underline-from-center(href="#Specs") Specifications
    li
      a.page-scroll.hvr-underline-from-center(href="#features") Features
    li
      a.page-scroll.hvr-underline-from-center(href="#downloads") Downloads
    li
      a.page-scroll.hvr-underline-from-center(href="#resources") Resources
    li
      a.page-scroll.hvr-underline-from-center(href="#community") Community
