nav#main-nav.stroke.text-link-inverse-secondary
  ul
    li
      a.page-scroll.hvr-underline-from-center(href="#Page-top") Home
    li
      a.page-scroll.hvr-underline-from-center(href="#Timeline") Roadmap
    li
      a.page-scroll.hvr-underline-from-center(href="#Features") Features
    li
      a.page-scroll.hvr-underline-from-center(href="#Specs") Specifications
    li
      a.page-scroll.hvr-underline-from-center(href="#Downloads") Downloads
    li
      a.page-scroll.hvr-underline-from-center(href="#Resources") Resources
    li
      a.page-scroll.hvr-underline-from-center(href="#Community") Community
