extends _layouts/layout.pug

block content
  include _page/typed.pug
  include _page/timeline.pug
  include _page/features.pug
  include _page/specs.pug
  include _page/downloads.pug
  include _page/resources.pug
  include _page/community.pug
    
  a#return-to-top.btn.btn-primary.btn-lg.back-to-top(href='#Page-top', role='button', title='Click to return to top of page', data-toggle='tooltip', data-placement='left')
    i.fas.fa-angle-up