html
  head
    include ../_includes/head.pug
  body
    .wrapper.container-fluid.px-0.noOverFlow
      include ../_includes/logo.pug
      include ../_includes/main-nav.pug
      //script(type="text/javascript").
      //  document.querySelector("#{navId}").classList.toggle("active");
      //  document.querySelector("#{navId}").classList.toggle("disabled");
      block content
    include ../_includes/footer